<h2 class="page-header">Search users</h2>
<form method="post" action="/users/search">
  <div class="form-group">
   <!--  <label for="example-text-input" class="col-xs-2 col-form-label">Search user</label> -->
                <div class="col-xs-5">
                     <input class="form-control" type="text" placeholder="Enter ID number" name="idNumber">
                </div>
    
  <button type="submit" class="btn btn-default">Search user</button>
{{{body}}}
<div> 
    <table class="table">
        <thead> 
            <th>Name</th>
            <th>Surname</th>
            <th>Next of Kin</th>
            <th>Next of kin email</th>
            <th>Doctor</th>
            <th>Doctor's email</th>
            <th>Medical aid</th>
            <th>Diagnosis</th>
        </thead>
        <tbody>
            <tr>
                <td>{{{User.name}}}</td>
                <td>{{{User.surname}}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
            
</form>